<div>
    <section class="container">
        <img src="https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg" alt="" class="image" />
        <header>Website Coming Soon</header>
        <p>
          We are excited to announce that we will be launching soon and can't wait to share our new platform with you.
        </p>
        <div class="time-content">
            <div class="time days">
              <span class="number">{{ days }}</span>
              <span class="text">days</span>
            </div>
            <div class="time hours">
              <span class="number">{{ hours }}</span>
              <span class="text">hours</span>
            </div>
            <div class="time minutes">
              <span class="number">{{ minutes }}</span>
              <span class="text">minutes</span>
            </div>
            <div class="time seconds">
              <span class="number">{{ seconds }}</span>
              <span class="text">seconds</span>
            </div>
          </div>
          <div class="email-content">
            <p>Subscribe now to get the latest updates!</p>
            <div class="input-box" #emailBox>
              <input type="email" placeholder="Enter your email..." [(ngModel)]="email" #emailInput />
              <button (click)="subscribe(emailInput.value)">Notify Me</button>
            </div>
        </div>          
        <span class="error-message" *ngIf="invalidEmail">Invalid email format</span>
      </section>
</div>